# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
audio_play
cwolfmap_test
music_extract
music_play
vswap_sound_extract
vswap_sound_play
wad_test
zip_test

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# CMake
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
CMakeScripts/

# Visual studio
.vs/
Debug/
*.sln
*.vcxproj*
*.dir/
x64/

# VS Code
.vscode/
build/

# Linux
Makefile

# macOS
.DS_Store

# Xcode
*.xcodeproj/
